body{
margin:0px;
padding:0px;
background-color: #89C1DB;
border:2px;
border-color:#4801cc;
}

#halamanutama{
background-color: #000000;
font-family: arial;
font-size: 15px;
color: #ffffff;
float:left;
width:460px;
height:650px;
margin-left:10px;
border-style:solid;
border-width:2px;
border-color:#e6e6fa;

}



#description{
float:rigt;
width:300px;
height:650px;
font-family: comic sans ms;
font-size: 23px;
color: #ba55d3;
margin-left:480px;
margin-right:30px;

border-width:2px;
border-style:solid;
border-color:#800000;
}

#tabel{
border:1px;
border-color:blue;
width: 200px;
height:100px

}

#biodata{ 
font-family: comic sans ms;
font-size: 18px;
color: #071585;

}
